* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Avenir Next', 'Comic Sans MS', sans-serif;
}

:root {
	--primary: #fff122;
	--secondary: #ffffff;
	--black: #000000;
	--input-width: 15em;
	--button-width: 15em;
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 100%;
	max-width: 1024px;
}

label {
	opacity: 0.8;
	align-self: flex-start;
}

input[type='text'] {
	display: inline-block;
	margin: 0.3em 0 1.5em;
	padding: 5px;
	width: var(--input-width);
}

fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--secondary);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	width: 17em;
	margin: 1em;
	padding: 15px;
}

#button {
	width: var(--button-width);
	background: var(--primary);
	border: 2px solid var(--primary);
	padding: 10px;
	border-radius: 3px;
	color: var(--black);
}
