<body>
   <form method="post">
      <fieldset>
         <label for="name">Naam:</label>
         <input type="text" id="name" name="name" required>

         <label for="docent">Docenten:</label>

         {{#each teachers}}
            <input type="radio" id="docent" name="docent" value="{{this}}">
            <label for="docent">{{this}}</label>
         {{/each}}

         <label for="begin-datum">Begin datum:</label>
         <input type="date" id="begin-datum" name="begin-datum"required>
         
         <label for="eind-datum">Eind datum:</label>
         <input type="date" id="eind-datum" name="begin-datum"required>

         <label for="lesstof">Lesstof:</label>
         <input type="range" id="lesstof" min="1" max="10" required>

         <label for="">Uitleg:</label>
         <input type="range" id="uitleg" min="1" max="10" required>

         <label for="eigen-inzicht">Eigen inzicht:</label>
         <input type="range" id="eigen-inzicht" min="1" max="10" required>
      </fieldset>
      <input type="submit" value="Bevestig">
   </form>
</body>