<body>
   <form method="post">
      <fieldset>
         <label for="name">Naam:</label>
         <input type="text" id="name" name="name" required>

         <label for="docent">Docenten:</label>

         <input type="radio" id="docent" value="Peter Paul Koch">
         <label for="docent">Peter Paul Koch</label>

         <input type="radio" id="docent" value="Joost Faber">
         <label for="docent">Joost Faber</label>

         <input type="radio" id="docent" value="Koop Reynders">
         <label for="docent">Koop Reynders</label>

         <input type="radio" id="docent" value="Suus ten Voorden">
         <label for="docent">Suus ten Voorden</label>

         <input type="radio" id="docent" value="Vasilis van Gemert">
         <label for="docent">Vasilis van Gemert</label>

         <input type="radio" id="docent" value="Sanne 't Hooft">
         <label for="docent">Sanne 't Hooft</label>

         <input type="radio" id="docent" value="Justus Sturkenboom">
         <label for="docent">Justus Sturkenboom</label>

         <input type="radio" id="docent" value="Guido Bouwman">
         <label for="docent">Guido Bouwman</label>


         <label for="begin-datum">Begin datum:</label>
         <input type="date" id="begin-datum" name="begin-datum"required>
         
         <label for="eind-datum">Eind datum:</label>
         <input type="date" id="eind-datum" name="begin-datum"required>
      </fieldset>
      <input type="submit" value="Bevestig">
   </form>
</body>