<body>
   <main class='list-container'>
      <h1>Minor <span>Web Design</span> & <span>Development</span> Enquetes</h1>
      <section>
         <h2>Completed surveys</h2>
         <ul class="complete">
            {{#each data}}
            {{#if this.complete}}
            <li>{{this.course}}</li>
            {{/if}}
            {{/each}}
         </ul>
      </section>
      <section>
         <h2>To do</h2>
         <ul class="todo">
            {{#each data}}
            {{#unless this.complete}}
            <li><a href="/survey/{{this.survey}}/{{../id}}">{{this.course}}</a></li>
            {{/unless}}
            {{/each}}
         </ul>
      </section>
   </main>
</body>