<body>
   <h1>Minor Web Design & Development Enquetes</h1>
   <section>
         <section>
            <h2>Complete Surveys</h2>
            <section>
               {{#each data}}
                  {{#if this.complete}}
                     <article>
                        <h2>{{this.course}}</h2>
                     </article>
                  {{/if}}
               {{/each}}
            </section>
         </section>
         <section>
            <h2>Incomplete Surveys</h2>
            <section>
               {{#each data}}
                  {{#unless this.complete}}
                     <article>
                        <h2>{{this.course}}</h2>
                        <a href="/survey/{{this.survey}}/{{../id}}">Vul Enquete in</a>
                     </article>
                  {{/unless}}
               {{/each}}
            </section>
         </section>
   </section>
</body>