<body>
   <main>
      <h1>Minor Web Design & Development Enquetes</h1>
      <section>
         <h3>Completed surveys</h3>
         <ul>
            {{#each data}}
            {{#if this.complete}}
            <li>{{this.course}}</li>
            {{/if}}
            {{/each}}
         </ul>
      </section>
      <section>
         <h3>To do</h3>
         <ul>
            {{#each data}}
            {{#unless this.complete}}
            <li><a href="/survey/{{this.survey}}/{{../id}}">{{this.course}}</a></li>
            {{/unless}}
            {{/each}}
         </ul>
      </section>
   </main>
</body>