<body>
   <h1>Minor Web Design & Development Enquetes</h1>
   <section>
      <article>
         <h2>Web App From Scratch</h2>
         <a href="/survey/WAFS">Vul enquete in</a>
      </article>
      <article>
         <h2>CSS To The Rescue</h2>
         <a href="/survey/CTTR">Vul enquete in</a>
      </article>
      <article>
         <h2>Browser Technologies</h2>
         <a href="/survey/BT">Vul enquete in</a>
      </article>
      <article>
         <h2>Progressive Web App</h2>
         <a href="/survey/PWA">Vul enquete in</a>
      </article>
      <article>
         <h2>Real Time Web</h2>
         <a href="/survey/RTW">Vul enquete in</a>
      </article>
      <article>
         <h2>User Centered Design</h2>
         <a href="/survey/UCD">Vul enquete in</a>
      </article>
   </section>
</body>