   <main class="home-container">
      <section id="login-section" class="grid">
         <form action="/" method="post" id="login-form">
               <fieldset class="user-credentials">
                  <label for="name">Naam</label>
                  <input type="text" id="name" name="name" required>

                  <label for="id">Studentnummer</label>
                  <input type="text" id="id" name="id" required>
               </fieldset>
            <input type="submit" value="Log in" id="button">
         </form>
      </section>
   </main>
