<body>
   <h1>Log in:</h1>
   <form action="/home" method="post">
   <fieldset>
      <label for="name">Naam:</label>
      <input type="text" id="name" name="name" required>

      <label for="student-number">Studentnummer:</label>
      <input type="text" id="student-number" name="student-number" required>
   </fieldset>
   </form>
   <input type="submit" value="Log in">
</body>